@import url('https://fonts.googleapis.com/css2?family=Montez&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
    background-color: rgb(145, 0, 0);
    color: rgb(250, 233, 211);
}

html, body, #container, .rows, .cells {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    flex-direction: column;
    min-height: 100vh;
    gap: 1em;
}

#header {
    font-family: "montez";
}

#selectors {
    display: flex;
}

button {
    font-size: 18px;
    width: fit-content;
    padding: 4px 8px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgb(250, 233, 211);
    color: rgb(145, 0, 0);
}

#container {
    flex-direction: column;
    width: 80vmin;  /* Grid size is 80% of the smallest viewport dimension */
    height: 80vmin;
    flex-shrink: 1;
}

.cells {
    flex: 1;
    aspect-ratio: 1 / 1; /* Makes cells square */
    border-top: solid;
    border-left: solid;
    background-color: white;  
}

.cells:last-child {
    border-right: solid;
}

.rows:last-child .cells {
    border-bottom: solid;
}