* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #container, .rows, .cells {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#start {
    font-size: 6px;
    width: fit-content;
    padding: 4px 8px;
    flex-shrink: 0;
    flex-grow: 0;
}

#container {
    flex-direction: column;
    width: 80vmin;  /* Grid size is 80% of the smallest viewport dimension */
    height: 80vmin;
    flex-shrink: 1;   
}

.cells {
    flex: 1;
    aspect-ratio: 1 / 1; /* Makes cells square */
    border-top: solid;
    border-left: solid;
}

.cells:last-child {
    border-right: solid;
}

.rows:last-child .cells {
    border-bottom: solid;
}