@import url('https://fonts.googleapis.com/css2?family=Montez&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
    background-color: rgb(145, 0, 0);
    color: rgb(250, 233, 211);
}

html, body, #wrapper, #content, #container, #pens, .rows, .cells {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#wrapper {
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
}

#header {
    font-family: "montez";
    font-size: 60px;
}

#content {
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}

button {
    font-size: 18px;
    width: fit-content;
    height: 39.8px;
    padding: 4px 8px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgb(250, 233, 211);
    color: rgb(145, 0, 0);
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    cursor: pointer;
}

#selectors {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
}

.round {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

#pens {
    flex-wrap: wrap;
    gap: 0.5em;
}

#color-picker {
    background-color: rgb(250, 233, 211);
    border: none;
}

#container {
    flex-direction: column;
    width: 65vmin;  /* Grid size is 80% of the smallest viewport dimension */
    height: 65vmin;
    flex-shrink: 1;
    box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.466);

}

.cells {
    flex: 1;
    aspect-ratio: 1 / 1; /* Makes cells square */
    border-top: solid;
    border-left: solid;
    background-color: white;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.466);
}

.cells:last-child {
    border-right: solid;
}

.rows:last-child .cells {
    border-bottom: solid;
}